
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
<title>Classy Resume a Personal Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classy Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- gallery -->
<link type="text/css" rel="stylesheet" href="{% static 'css/cm-overlay.css' %}" />

<!-- //gallery -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 

<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
	
<body>
<div class="main" id="home">
<!-- banner -->
	<div class="banner">
			<!--Slider-->
			<img src="{% static 'images/rahul.jpg' %}" alt=" " class="img-responsive">
					<h2>I'M RAHUL KUMAR</h2>
					<span>PROGRAMMER / DEVELOPER</span>
				<br>
					<ul class="top-links">
									<li><a href="https://www.facebook.com/profile.php?id=100006837003158"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/Rahulku89212091?s=08"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/rahul-kumar-191ab7159"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://github.com/Rahuldipu"><i class="fa fa-github"></i></a></li>
								</ul>
	</div>
<!-- //banner -->
	</div>
<!-- header -->
	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span class="one"></span>MY PORTFOLIO</a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1" id="cl-effect-1">
						<ul class="nav navbar-nav">
							<li class="active"><a class="scroll" href="index.html">Home</a></li>
							<li><a href="#about" class="scroll hvr-bounce-to-bottom">About</a></li>
							<li><a href="#services" class="scroll hvr-bounce-to-bottom">Competitive Profiles & Project</a></li>
							<li><a href="#education" class="scroll hvr-bounce-to-bottom">Skills & Experience</a></li>
							<li><a href="#mail" class="scroll hvr-bounce-to-bottom">Contact</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>
<!-- //header -->
<!-- about -->
	<div class="about" id="about">
		<div class="container">
					<h3 class="w3l_head">About Me</h3>
			<p class="w3ls_head_para">Proactive and fast learning individual tries to work as relevant expertise to help the company achieve business goals while sticking to vision, mission and values.</p>
		<div class="w3l-grids-about">
				<!--<div class="col-md-5 w3ls-ab-right">-->
					<!--<div class="agile-about-right-img">-->
						<!--<img src="{% static 'images/rahul1.jpg' %}" alt="" width="100" height="400">-->
					<!--</div>-->
				<!--</div>-->
				<div class="col-md-12 w3ls-agile-left">
					<div class="w3ls-agile-left-info">
						<h4>Name</h4>
						<p>Rahul Kumar</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Sex</h4>
						<p>Male</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Address</h4>
						<p> 42, Bela , Saran , Bihar , 841221</p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Email Address</h4>
						<p><a href="https://mail.google.com/">rahulkumarmay872@email.com</a></p>
					</div>
					<div class="w3ls-agile-left-info">
						<h4>Contact No.</h4>
						<p>+918294620729</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
<!-- //about-bottom -->

<!-- /education -->
 <div class="education" id="education">
	    <div class="col-md-6 education-w3l">
		     <h3 class="w3l_head three">My Education</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2017-2021</h4>
						   <h6>Bachelor Degree</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Trinity Institute of Technology and Research</h4>
						   <p>Bhopal, Madhya Pradesh</p>
						 <p><strong>Grade :</strong>9.03 CGPA</p>
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>2015-2017</h4>
						   <h6>Intermediate</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Jawahar Navodaya Vidyalaya</h4>
						   <p>Saran, Bihar</p>
						   <p><strong>Percentage :</strong>81 %</p>
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>2014-2015</h4>
						   <h6>Matriculation</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Jawahara Navodaya Vidayalaya</h4>
						 	<p>Saran, Bihar</p>
						  <p><strong>Grade :</strong>10.00 CGPA</p>
				     </div>
				      <div class="clearfix"></div>
				  </div>
				 
			  </div>
		</div>
		<div class="col-md-6 skills">
		<h3 class="w3l_head two">My Skills</h3>
	     <div class="skill-agile">

<h2 style="color:White;">C Programming</h2>
			 <div class="progress">
  <div class="progress-bar" role="progressbar"  style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
			 <h2 style="color:White;">C++ Programming</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
</div>
			 <h2 style="color:White;">Java</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 71%" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100"></div>
</div>
			 <h2 style="color:White;">Python</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>

						</div>
		 </div>
		 <div class="clearfix"> </div>
		</div>
 <!-- //education -->
 <!-- /experience -->
 <div class="education" id="education two">
 		<div class="col-md-6 skills two">
		<h3 class="w3l_head two">Familiar With</h3>
	     <div class="skill-agile">

			 <h4>Data Structures</h4>
			 <h4>MySql</h4>
			 <h4>Machine Learning</h4>
			 <h4>HTML</h4>
			 <br>
			 <h2 style="color:White;">Tool & Framework</h2>
			 <h4>Django</h4>
			 <h4>Android studio</h4>

</div>
		 </div>
	    <div class="col-md-6 education-w3l">
		     <h3 class="w3l_head three">My Experience</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>Sep-2020  --  Dec-2020</h4>
						   <h6>INTERNSHIP</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Evoxyz Technologies</h4>
						   <p>Gurugram ,Haryana</p>
						 <p>Worked on Android Studio and Spring Boot</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					       <h4>Dec-2019  --  Jan-2020</h4>
						   <h6>INTERNSHIP</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Techsim+</h4>
						   <p>Bhopal, MadhyaPradesh</p>
						 <p>Analyzed data for internship project by machine learning algorithms</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h4>July-2019  --  Aug-2019</h4>
						   <h6>INTERNSHIP</h6>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Techsim+</h4>
						 <p>Bhopal, MadhyaPradesh</p>
						  						   <p>Worked on Django Framework</p>
						  
				     </div>
				      <div class="clearfix"></div>
				  </div>
				 
			  </div>
		</div>

		 <div class="clearfix"> </div>
		</div>
 <!-- //experience -->
<!-- /education -->
 <div class="education" id="services">
	    <div class="col-md-6 education-w3l">
		     <h3 class="w3l_head three">Projects</h3>
			  <div class="education-agile-grids">
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					       <h2 style="color:Black;">Blogger</h2>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Django Framework</h4>
						   <p><strong>Frontend :</strong>HTML, CSS, Bootstrap</p>
						 <p><strong>Backend :</strong>Sqlite</p>
						 <p><strong>Code :</strong><a href="https://github.com/Rahuldipu/Blogger-Project-Django-">See here<i class="fa fa-github"></i></a></p>
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l two">
				     <div class="education-agile-w3l-year">
					      <h2 style="color:Black;">Resume Parser</h2>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Django Framework</h4>
						 <p><strong>Frontend :</strong>HTML, CSS, Bootstrap</p>
						   <p><strong>Backend :</strong>Sqlite</p>
							<p><strong>Code :</strong><a href="https://github.com/Rahuldipu/ResumeParser">See Here<i class="fa fa-github"></i></a></p>
				     </div>
				      <div class="clearfix"></div>
				  </div>
				  <div class="education-agile-w3l">
				     <div class="education-agile-w3l-year">
					      <h2 style="color:Black;">Java AWT authentication</h2>
				     </div>
					 <div class="education-agile-w3l-info">
					       <h4>Spring Boot</h4>
						 	<p>Implementation only</p>
						 <p><strong>Code :</strong><a href="https://github.com/Rahuldipu/Java-AWT-authentication-API">See Here<i class="fa fa-github"></i></a></p>
				     </div>
				      <div class="clearfix"></div>
				  </div>

			  </div>
		</div>
		<div class="col-md-6 skills">
		<h3 class="w3l_head two">Competitive Profiles</h3>
	     <div class="skill-agile">

<h2 style="color:White;">Geek For Geeks</h2>
			 <p style="color:White;"><strong>Profile :</strong><a href="https://auth.geeksforgeeks.org/user/rahul_mahi/profile?fbclid=IwAR1RR0BIEBuq9zMgd6s5KFX-zUrrUzVWUG6IIEPLkNZF7l8PN3KCORb7FdI">See Here<i class="fa fa-user-circle"></i></a></p>
			 <br>
			 <h2 style="color:White;">HackerRank</h2>
				<p style="color:White;"><strong>Profile :</strong><a href="https://www.hackerrank.com/rk617605">See Here<i class="fa fa-user-circle"></i></a></p>
				<br>
			 <h2 style="color:White;">HackerEarth</h2>
				<p style="color:White;"><strong>Profile :</strong><a href="https://www.hackerearth.com/@rahul4821">See Here<i class="fa fa-user-circle"></i></a></p>
			 <br>
			 <h2 style="color:White;">LeetCode</h2>
				<p style="color:White;"><strong>Profile :</strong><a href="https://leetcode.com/rk617605/">See Here<i class="fa fa-user-circle"></i></a></p>

						</div>
		 </div>
		 <div class="clearfix"> </div>
		</div>
 <!-- //education -->

<!-- mail -->

<!-- footer -->
	<div class="w3l_footer">
		<div class="container">
			
			<div class="w3ls_footer_grids">
				
				<div class="w3ls_footer_grid">
					<div class="col-md-6 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Email</h4>
							<a href="https://mail.google.com/">rahulkumarmay872@gmail.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Call Me</h4>
							<p>+918294620729</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3l_footer_pos">
			<p>© My Portfolio. All Rights Reserved | Design by <a href="https://www.linkedin.com/in/rahul-kumar-191ab7159">Rahul Kumar</a></p>
		</div>
	</div>
<!-- //footer -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script> 
<!-- skills -->
<script src="{% static 'js/pie-chart.js' %}" type="text/javascript"></script>
 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#44c7f4',
                trackColor: '#fff',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#44c7f4',
                trackColor: '#fff',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#44c7f4',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
			
			$('#demo-pie-4').pieChart({
                barColor: '#44c7f4',
                trackColor: '#fff',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
        });
    </script>
<!-- skills -->	
						<script src="{% static 'js/responsiveslides.min.js' %}"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
							 <!-- js -->
				<script src="{% static 'js/jquery.tools.min.js' %}"></script>
				<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
				<script src="{% static 'js/jquery.cm-overlay.js' %}"></script>
				<script>
					$(document).ready(function(){
						$('.cm-overlay').cmOverlay();
					});
				</script>
<!-- js files -->



<script src="{% static 'js/bars.js' %}"></script>

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

<!-- //js -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>